// Icon names from left to right
$mini-icon-names: mini-default-back,  mini-default-option;

// Generate corresponding class names
$mini-icon-class-names: null;

@each $css-name in $mini-icon-names { $mini-icon-class-names: append($mini-icon-class-names, str-insert($css-name, ".", 1) + "-icon"); }

// Default sprite size is 32px
$mini-icon-size: 32px;

#{$mini-icon-class-names} { width: #{$mini-icon-size}; height: #{$mini-icon-size}; background-image: url(mini_default_32px_sprite.png) }

$mini-icon-position: 0;

@each $css-name in $mini-icon-names {
	.#{$css-name}-icon { background-position: -($mini-icon-size * $mini-icon-position) 0 }
	$mini-icon-position: 1 + $mini-icon-position;
}

@media only screen and (max-width: 46em) {
	// Small sprite size is 16px
	$mini-icon-size: 16px;

	#{$mini-icon-class-names} { width: $mini-icon-size; height: $mini-icon-size; background-image: url(mini_default_16px_sprite.png) }

	$mini-icon-position: 0;

	@each $css-name in $mini-icon-names {
		.#{$css-name}-icon { background-position: -($mini-icon-size * $mini-icon-position) 0 }
		$mini-icon-position: 1 + $mini-icon-position;
	}
}

@media only screen and (min-width: 46em) and (max-width: 62em) {
	// Medium sprite size is 24px
	$mini-icon-size: 24px;

	#{$mini-icon-class-names} { width: $mini-icon-size; height: $mini-icon-size; background-image: url(mini_default_24px_sprite.png) }

	$mini-icon-position: 0;

	@each $css-name in $mini-icon-names {
		.#{$css-name}-icon { background-position: -($mini-icon-size * $mini-icon-position) 0 }
		$mini-icon-position: 1 + $mini-icon-position;
	}
}