hr {
	height: 1px; border: 0;
	background-image: -webkit-gradient(linear, left top, right top, color-stop(0, rgba(215, 222, 235, 0)), color-stop(0.3, #d8deeb), color-stop(0.7, #d8deeb), color-stop(1, rgba(215, 222, 235, 0)));
	background-image: -o-linear-gradient(right, rgba(215, 222, 235, 0) 0%, #d8deeb 30%, #d8deeb 70%, rgba(215, 222, 235, 0) 100%);
	background-image: -moz-linear-gradient(right, rgba(215, 222, 235, 0) 0%, #d8deeb 30%, #d8deeb 70%, rgba(215, 222, 235, 0) 100%);
	background-image: -webkit-linear-gradient(left, rgba(215, 222, 235, 0) 0%, #d8deeb 30%, #d8deeb 70%, rgba(215, 222, 235, 0) 100%);
	background-image: -ms-linear-gradient(left, rgba(215, 222, 235, 0) 0%, #d8deeb 30%, #d8deeb 70%, rgba(215, 222, 235, 0) 100%);
	background-image: linear-gradient(to right, rgba(215, 222, 235, 0) 0%, #d8deeb 30%, #d8deeb 70%, rgba(215, 222, 235, 0) 100%);
}

small { font-size: 0.75em }

.pagecontent_box { border-radius: 0.2em }

.pagecontent_box_infoblock {
	display: inline-block; clear: right; float: right; margin: 0 0 0.2em 0.2em;
	white-space: nowrap
}

.pagecontent_box_infoblock div {
	display: inline-block; padding: 0.4em; border: 1px solid #808080; border-radius: 0.2em;
	background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0, rgba(255, 255, 255, 0)), color-stop(1, #e6e8eb));
	background-image: -o-linear-gradient(rgba(255, 255, 255, 0) 0%, #e6e8eb 100%);
	background-image: -moz-linear-gradient(rgba(255, 255, 255, 0) 0%, #e6e8eb 100%);
	background-image: -webkit-linear-gradient(rgba(255, 255, 255, 0) 0%, #e6e8eb 100%);
	background-image: -ms-linear-gradient(rgba(255, 255, 255, 0) 0%, #e6e8eb 100%);
	background-image: linear-gradient(rgba(255, 255, 255, 0) 0%, #e6e8eb 100%);
	font-size: 1.1em; text-align: center
}

.pagecontent_box_infoblock div em {
	display: block;
	font-weight: bold
}

.pagecontent_datalinker_parent_box {
	clear: both; padding: 0.4em; background-color: #fafafa; border: 1px solid #d8deeb;
	font-weight: bold
}

.pagecontent_datalinker_sub_entries_box {
	clear: right; float: right; width: 35%; padding: 0.4em; border: 1px solid #ececec;
	background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0, rgba(255, 255, 255, 0)), color-stop(1, #e6e8eb));
	background-image: -o-linear-gradient(rgba(255, 255, 255, 0) 0%, #e6e8eb 100%);
	background-image: -moz-linear-gradient(rgba(255, 255, 255, 0) 0%, #e6e8eb 100%);
	background-image: -webkit-linear-gradient(rgba(255, 255, 255, 0) 0%, #e6e8eb 100%);
	background-image: -ms-linear-gradient(rgba(255, 255, 255, 0) 0%, #e6e8eb 100%);
	background-image: linear-gradient(rgba(255, 255, 255, 0) 0%, #e6e8eb 100%)
}

.pagecontent_datalinker_sub_entries_box h1 {
	margin: 1em inherit; border-bottom: 1px #e6e8eb solid;
	font-size: 1em
}

.pagecontent_datalinker_sub_entries_box li { margin: 0; padding: 0 }
.pagecontent_datalinker_sub_entries_box li:nth-child(n+2) { border-top: 1px #e6e8eb dotted }
.pagecontent_datalinker_sub_entries_box ul { margin: 0; padding: 0; list-style: none inside none }

.pagecontent_highlight_box {
	padding: 0.4em; background-color: #d8deeb; border: 1px solid #d8deeb;
	background-image: -webkit-gradient(linear, left top, right bottom,
		color-stop(0.25, rgba(255, 255, 255, 0.2)), color-stop(0.25, transparent),
		color-stop(0.5, transparent), color-stop(0.5, rgba(255, 255, 255, 0.2)),
		color-stop(0.75, rgba(255, 255, 255, 0.2)), color-stop(0.75, transparent),
		to(transparent));
	background-image: -o-linear-gradient(-45deg, rgba(255, 255, 255, 0.2) 25%, transparent 25%,
		transparent 50%, rgba(255, 255, 255, 0.2) 50%,
		rgba(255, 255, 255, 0.2) 75%, transparent 75%, transparent);
	background-image: -moz-linear-gradient(-45deg, rgba(255, 255, 255, 0.2) 25%, transparent 25%,
		transparent 50%, rgba(255, 255, 255, 0.2) 50%,
		rgba(255, 255, 255, 0.2) 75%, transparent 75%, transparent);
	background-image: -webkit-linear-gradient(-45deg, rgba(255, 255, 255, 0.2) 25%, transparent 25%,
		transparent 50%, rgba(255, 255, 255, 0.2) 50%,
		rgba(255, 255, 255, 0.2) 75%, transparent 75%, transparent);
	background-image: -ms-linear-gradient(-45deg, rgba(255, 255, 255, 0.2) 25%, transparent 25%,
		transparent 50%, rgba(255, 255, 255, 0.2) 50%,
		rgba(255, 255, 255, 0.2) 75%, transparent 75%, transparent);
	background-image: linear-gradient(-45deg, rgba(255, 255, 255, 0.2) 25%, transparent 25%,
		transparent 50%, rgba(255, 255, 255, 0.2) 50%,
		rgba(255, 255, 255, 0.2) 75%, transparent 75%, transparent);
	-moz-background-size: 40pt 40pt;
	-webkit-background-size: 40pt 40pt;
	background-size: 40pt 40pt
}

.pagecontent_monospace_box { overflow: auto; font-family: "Nimbus Mono L", Monaco, "Lucida Sans Typewriter", "Lucida Console", "Bitstream Vera Sans Mono", "Courier New", Courier, monospace }

.pagecontent_page_navigation { clear: both; padding: 0.4em; background-color: #fafafa; border: 1px solid #d8deeb; border-radius: 0.2em }
section .pagecontent_page_navigation { font-size: 0.75em }

.pagecontent_page_navigation ul { display: inline-block; margin: 0; padding: 0; list-style: none }

.pagecontent_page_navigation li {
	display: inline-block;
	white-space: nowrap
}

.pagecontent_page_navigation li:not(:last-child):after { margin: 0 0.3em; content: "•" }

.pagecontent_user_above_wrote { padding: 0.4em; background-color: #ffffff; border: 1px solid #808080; border-radius: 0.2em }

.pagecontent_user_above_wrote:before, .pagecontent_user_above_wrote:after {
	position: absolute; top: 0;
	content: " "
}

.pagecontent_user_above_wrote:before { margin-top: -18px; margin-left: 9px; border: 9px solid transparent; border-bottom-color: #808080 }
.pagecontent_user_above_wrote:after { margin-top: -17px; margin-left: 9px; border: 9px solid transparent; border-bottom-color: #ffffff }

.pagecontent_user_above_wrote > :first-child { margin-top: 0 }
.pagecontent_user_above_wrote > :last-child { margin-bottom: 0 }

.pagecontent_user_bar { clear: both; margin: 1em 0 }
.pagecontent_user_bar > div { display: inline-block; min-width: 25%; padding: 0.4em; background-color: #fafafa; border: 1px solid #808080; border-radius: 0.2em }

.pagecontent_user_quote { margin: 1em 0; position: relative }

.pagecontent_user_quote h1, .pagecontent_user_quote h2, .pagecontent_user_quote h3, .pagecontent_user_quote h4, .pagecontent_user_quote h5, .pagecontent_user_quote h6 {
	margin: 1em inherit;
	font-size: 1em
}

.pageform_button {
	margin: 0.2%; padding: 0.1% 0.2%; background-color: #ffffff; border: 1px solid #808080; border-radius: 0.2em;
	font-size: 1.2em
}

.pageform_element { overflow: auto; border-bottom: 1px solid #eeeeee; box-shadow: 0 2px 5px -5px rgba(0, 0, 0, 0.2) }
.pageform_element .pageform_error { display: inline-block; margin-top: 10px }

.pageform_element_radio .pageform_label { padding: 0.6% 0.4% }

.pageform_error { clear: both; padding: 0.25%; background-color: #fae0e0; border: 1px solid #e02222; border-radius: 0.2em }

.pageform_field {
	display: inline-block; width: 73%; margin: 0; padding: 0.75em 0.3%;
	text-align: center
}

.pageform_field > :first-child { margin-top: 0 }
.pageform_field > :last-child { margin-bottom: 0 }

.pageform_field article {
	border: 1px solid #f0f0f0; border-radius: 0.2em;
	text-align: left
}

.pageform_input_focused { border-color: #375a9d !important; box-shadow: 0 0 0.2em 0.2em #d8deeb }

.pageform_label {
	display: inline-block; width: 25%; margin: 0; padding: 0.75em 0.4%; font-weight: bold;
	vertical-align: top; text-align: right
}

.pageform_radio {
	margin: 0; padding: 0; display: inline-block; list-style-type: none;
	text-align: left
}

.pageform_radio_label { vertical-align: middle }

.pageform_textnpassword {
	padding: 0.4%; border: 1px solid #d8deeb; border-bottom-color: #808080; border-radius: 0.2em;
	font-size: 1em
}

.pageform_select {
	margin: 0.2%; padding: 0.2%; background-color: #ffffff; border: 1px solid #d8deeb; border-radius: 0.2em;
	font-size: 1em
}

.pagemainmenu {
	margin: 0 -2px; padding: 0.5em; background-color: #375a9d; border-top: 1px solid #5f75a0; border-bottom-color: #fafafa; box-shadow: 0 0.75em 1em -1em #193879;
	font-size: 1.2em; font-weight: bold; color: #fafafa
}

.pagemainmenu a { display: inline-block }
.pagemainmenu a:link, .pagemainmenu a:visited { color: #fafafa; text-decoration: none }
.pagemainmenu a:active, .pagemainmenu a:hover, .pagemainmenu a:focus { color: #afafaf; text-decoration: underline }

.pagemainmenu li {
	display: inline-block;
	white-space: nowrap
}

.pagemainmenu li:not(:last-child):after { margin: 0 0.3em; content: "•" }
.pagemainmenu ul { margin: 0; padding: 0; list-style: none }

.pagenavbox { padding: 0.4%; border: 1px solid #e6e8eb }

.pagenavtask { text-align: center; font-weight: bold }

.pagenotification_completed_info { padding: 0.4%; background-color: #e0fae0; border: 1px solid #8ae08a; border-radius: 0.2em }
.pagenotification_error { padding: 0.4%; background-color: #fae0e0; border: 1px solid #e02222; border-radius: 0.2em }

.pageservicemenu { clear: both; margin: 1% 0; border: 1px solid #d8deeb; border-radius: 0.2em }

.pageservicemenu a { display: inline-block }
.pageservicemenu a:link, .pageservicemenu a:visited { color: #375a9d; text-decoration: none }
.pageservicemenu a:active, .pageservicemenu a:hover, .pageservicemenu a:focus { color: #000000; text-decoration: none }

.pageservicemenu img {
	margin: 0 0.2em 0.2em 0;
	vertical-align: middle
}

.pageservicemenu li { display: inline-block }
.pageservicemenu li:not(:last-child):after { margin-right: 0.3em; content: ", " }
.pageservicemenu ul { position: relative; margin: 0; padding: 0; list-style: none inside none }

.pageservicemenu_p {
	padding: 0.2em 0.2em 0 0.2em;
	text-align: left
}

.pageservicemenu_s {
	clear: both; padding: 0.2em;
	text-align: right; font-size: 0.8em
}

.pagetable { clear: both; border-radius: 0.2em }

.pagetable td, .pagetable th { padding: 0.4em; text-align: left; vertical-align: top }
.pagetable td > :first-child, .pagetable th > :first-child { margin-top: 0 }
.pagetable td > :last-child, .pagetable th > :last-child { margin-bottom: 0 }

.pagetable td > h1, .pagetable td > h2, .pagetable td > h3, .pagetable td > h4, .pagetable td > h5, .pagetable td > h6 {
	margin: 1em inherit;
	font-size: 1.1em
}

.pagetable th {
	background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0, rgba(255, 255, 255, 0)), color-stop(1, #e6e8eb));
	background-image: -o-linear-gradient(rgba(255, 255, 255, 0) 0%, #e6e8eb 100%);
	background-image: -moz-linear-gradient(rgba(255, 255, 255, 0) 0%, #e6e8eb 100%);
	background-image: -webkit-linear-gradient(rgba(255, 255, 255, 0) 0%, #e6e8eb 100%);
	background-image: -ms-linear-gradient(rgba(255, 255, 255, 0) 0%, #e6e8eb 100%);
	background-image: linear-gradient(rgba(255, 255, 255, 0) 0%, #e6e8eb 100%);
	font-weight: bold; font-size: 1.1em
}

.pagetable thead, .pagetable tr, .pagetable tfoot { border: 1px solid #808080 }
.pagetable thead { border-bottom-width: 0.4em }
.pagetable tfoot { border-top-width: 0.4em }

.pageoptionsblock a {
	display: block; margin: 0.3em; padding: 0.4em; border: 1px solid #eeeeee; border-radius: 0.5em;
	text-decoration: none
}

.pageoptionsblock a:first-line { font-weight: bold; text-decoration: underline }
.pageoptionsblock img { float: left }
.pageoptionsblock li { display: inline-block; width: 25%; margin: 0; padding: 0 }
.pageoptionsblock ul { position: relative; margin: 0; padding: 0; list-style: none inside none }

.pageurl_requirements_unsupported { color: #808080 }

@media only screen and (max-width: 46em) {
	.pagecontent_box_infoblock {
		display: block; clear: both; float: none; margin: 0.2em 0; padding: 0.2em; border: 1px solid #808080; border-radius: 0.2em;
		background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0, rgba(255, 255, 255, 0)), color-stop(1, #e6e8eb));
		background-image: -o-linear-gradient(rgba(255, 255, 255, 0) 0%, #e6e8eb 100%);
		background-image: -moz-linear-gradient(rgba(255, 255, 255, 0) 0%, #e6e8eb 100%);
		background-image: -webkit-linear-gradient(rgba(255, 255, 255, 0) 0%, #e6e8eb 100%);
		background-image: -ms-linear-gradient(rgba(255, 255, 255, 0) 0%, #e6e8eb 100%);
		background-image: linear-gradient(rgba(255, 255, 255, 0) 0%, #e6e8eb 100%);
		text-align: center
	}

	.pagecontent_box_infoblock div { background-color: #ffffff; background-image: none }

	.pageform_element { padding: 2% 0 }

	.pageform_field
	{
		display: block; width: inherit;
		text-align: left
	}

	.pageform_label {
		display: block; width: inherit;
		text-align: left
	}

	.pageform_textnpassword {
		width: 100% !important;
		box-sizing: border-box; -moz-box-sizing: border-box; -ms-box-sizing: border-box; -opera-box-sizing: border-box; -webkit-box-sizing: border-box
	}

	.pagemainmenu { margin: 0 -1px; padding: 0.1em 0.2em }

	.pageoptionsblock li { width: 100%; margin: 0; padding: 0 }

	.pageservicemenu img { margin-bottom: 0 }

	.pageservicemenu_p {
		padding: 0;
		text-align: center
	}

	.pageservicemenu_s {
		padding: 0;
		text-align: center
	}

	.pagetable_responsive { margin: 0.4em 0 }

	.pagetable_responsive tr { border-top: 1px solid #808080; border-bottom: 1px solid #808080 }

	.pagetable_responsive th { display: none }

	.pagetable_responsive td { display: block }

	.pagetable_responsive td:before {
		display: block; margin: 0 -0.3em 0.2em -0.3em; padding: 0 0.3em 0.1em 0.3em; border-bottom: 1px solid #d8deeb;
		background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0, rgba(255, 255, 255, 0)), color-stop(1, #fafafa));
		background-image: -o-linear-gradient(rgba(255, 255, 255, 0) 0%, #fafafa 100%);
		background-image: -moz-linear-gradient(rgba(255, 255, 255, 0) 0%, #fafafa 100%);
		background-image: -webkit-linear-gradient(rgba(255, 255, 255, 0) 0%, #fafafa 100%);
		background-image: -ms-linear-gradient(rgba(255, 255, 255, 0) 0%, #fafafa 100%);
		background-image: linear-gradient(rgba(255, 255, 255, 0) 0%, #fafafa 100%);
		font-weight: bold; font-size: 1.1em; content: attr(data-th) ": "
	}

	.pagetable_responsive td { text-align: left !important }
}

@media only screen and (min-width: 46em) and (max-width: 62em) {
	.pageform_element { padding: 1% 0 }

	.pageform_field
	{
		display: block; width: inherit;
		text-align: left
	}

	.pageform_label {
		display: block; width: inherit;
		text-align: left
	}

	.pagemainmenu { margin: 0 -1px; padding: 0.2em 0.4em }

	.pageoptionsblock li { width: 50%; margin: 0; padding: 0 }

	.pageservicemenu_p {
		padding: 0.1em 0.1em 0 0.1em;
		text-align: center
	}

	.pageservicemenu_s {
		padding: 0.1em;
		text-align: center
	}
}