@import 'data/mmedia/themes/simple/colors';

hr {
	height: 1px; border: 0;
	background-image: -moz-linear-gradient(right, rgba(#{$light_blue_rgba}, 0) 0%, $light_blue 30%, $light_blue 70%, rgba(#{$light_blue_rgba}, 0) 100%);
	background-image: -ms-linear-gradient(left, rgba(#{$light_blue_rgba}, 0) 0%, $light_blue 30%, $light_blue 70%, rgba(#{$light_blue_rgba}, 0) 100%);
	background-image: -o-linear-gradient(right, rgba(#{$light_blue_rgba}, 0) 0%, $light_blue 30%, $light_blue 70%, rgba(#{$light_blue_rgba}, 0) 100%);
	background-image: -webkit-gradient(linear, left top, right top, color-stop(0, rgba(#{$light_blue_rgba}, 0)), color-stop(0.3, $light_blue), color-stop(0.7, $light_blue), color-stop(1, rgba(#{$light_blue_rgba}, 0)));
	background-image: -webkit-linear-gradient(left, rgba(#{$light_blue_rgba}, 0) 0%, $light_blue 30%, $light_blue 70%, rgba(#{$light_blue_rgba}, 0) 100%);
	background-image: linear-gradient(to right, rgba(#{$light_blue_rgba}, 0) 0%, $light_blue 30%, $light_blue 70%, rgba(#{$light_blue_rgba}, 0) 100%);
}

small { font-size: 0.75em }

.pagecontent_box { overflow: auto; overflow-y: hidden; border-radius: 3px }
.pagecontent_box_bordered { margin: 6px 0px; padding: 6px; border: 1px solid $light_blue }
.pagecontent_box_both_cleared { clear: both }
.pagecontent_box_left { float: left }
.pagecontent_box_left_cleared { clear: left }
.pagecontent_box_left_padded { margin-left: 6px }
.pagecontent_box_right { float: right }
.pagecontent_box_right_cleared { clear: right }
.pagecontent_box_right_padded { margin-right: 6px }

.pagecontent_box_infoblock {
	display: inline-block; clear: right; float: right; margin: 0 0 3px 3px;
	white-space: nowrap;

	div {
		display: inline-block; padding: 6px; border: 1px solid $dark_grey; border-radius: 3px;
		background-image: -moz-linear-gradient(rgba(#{$white_rgba}, 0) 0%, $light_steel 100%);
		background-image: -ms-linear-gradient(rgba(#{$white_rgba}, 0) 0%, $light_steel 100%);
		background-image: -o-linear-gradient(rgba(#{$white_rgba}, 0) 0%, $light_steel 100%);
		background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0, rgba(#{$white_rgba}, 0)), color-stop(1, $light_steel));
		background-image: -webkit-linear-gradient(rgba(#{$white_rgba}, 0) 0%, $light_steel 100%);
		background-image: linear-gradient(rgba(#{$white_rgba}, 0) 0%, $light_steel 100%);
		font-size: 1.1em; text-align: center;

		em {
			display: block;
			font-weight: bold
		}
	}
}

.pagecontent_datalinker_parent_box {
	clear: both; padding: 6px; background-color: $light_grey; border: 1px solid $light_blue;
	font-weight: bold
}

.pagecontent_datalinker_sub_entries_box {
	clear: right; float: right; width: 35%; padding: 6px; border: 1px solid $grey;
	background-image: -moz-linear-gradient(rgba(#{$white_rgba}, 0) 0%, $light_steel 100%);
	background-image: -ms-linear-gradient(rgba(#{$white_rgba}, 0) 0%, $light_steel 100%);
	background-image: -o-linear-gradient(rgba(#{$white_rgba}, 0) 0%, $light_steel 100%);
	background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0, rgba(#{$white_rgba}, 0)), color-stop(1, $light_steel));
	background-image: -webkit-linear-gradient(rgba(#{$white_rgba}, 0) 0%, $light_steel 100%);
	background-image: linear-gradient(rgba(#{$white_rgba}, 0) 0%, $light_steel 100%);

	h1 {
		margin: 14px inherit; border-bottom: 1px $light_steel solid;
		font-size: 1em
	}
}

.pagecontent_datalinker_sub_entries_box {
	li { margin: 0; padding: 0 }
	li:nth-child(n+2) { border-top: 1px $light_steel dotted }

	ul { margin: 0; padding: 0; list-style: none inside none }
}

.pagecontent_highlight_box {
	padding: 6px; background-color: $light_blue; border: 1px solid $light_blue;
	background-image: -moz-linear-gradient(-45deg, rgba(#{$white_rgba}, 0.2) 25%, transparent 25%,
		transparent 50%, rgba(#{$white_rgba}, 0.2) 50%,
		rgba(#{$white_rgba}, 0.2) 75%, transparent 75%, transparent);
	background-image: -ms-linear-gradient(-45deg, rgba(#{$white_rgba}, 0.2) 25%, transparent 25%,
		transparent 50%, rgba(#{$white_rgba}, 0.2) 50%,
		rgba(#{$white_rgba}, 0.2) 75%, transparent 75%, transparent);
	background-image: -o-linear-gradient(-45deg, rgba(#{$white_rgba}, 0.2) 25%, transparent 25%,
		transparent 50%, rgba(#{$white_rgba}, 0.2) 50%,
		rgba(#{$white_rgba}, 0.2) 75%, transparent 75%, transparent);
	background-image: -webkit-gradient(linear, left top, right bottom,
		color-stop(0.25, rgba(#{$white_rgba}, 0.2)), color-stop(0.25, transparent),
		color-stop(0.5, transparent), color-stop(0.5, rgba(#{$white_rgba}, 0.2)),
		color-stop(0.75, rgba(#{$white_rgba}, 0.2)), color-stop(0.75, transparent),
		to(transparent));
	background-image: -webkit-linear-gradient(-45deg, rgba(#{$white_rgba}, 0.2) 25%, transparent 25%,
		transparent 50%, rgba(#{$white_rgba}, 0.2) 50%,
		rgba(#{$white_rgba}, 0.2) 75%, transparent 75%, transparent);
	background-image: linear-gradient(-45deg, rgba(#{$white_rgba}, 0.2) 25%, transparent 25%,
		transparent 50%, rgba(#{$white_rgba}, 0.2) 50%,
		rgba(#{$white_rgba}, 0.2) 75%, transparent 75%, transparent);
	-moz-background-size: 40pt 40pt;
	-webkit-background-size: 40pt 40pt;
	background-size: 40pt 40pt
}

.pagecontent_list_entry {
	margin: 11px 0; padding: 6px; border: 1px solid $dark_grey;

	h1, h2, h3, h4, h5, h6 {
		margin: 14px inherit;
		font-size: 1em
	}
}

.pagecontent_monospace_box {
	overflow: auto; overflow-y: hidden;
	font-family: "Nimbus Mono L", Monaco, "Lucida Sans Typewriter", "Lucida Console", "Bitstream Vera Sans Mono", "Courier New", Courier, monospace
}

.pagecontent_page_navigation {
	clear: both; padding: 6px; background-color: $light_grey; border: 1px solid $light_blue;

	section & { font-size: 0.75em }

	li {
		display: inline-block;
		vertical-align: middle; white-space: nowrap
	}

	li:not(:last-child)::after { margin: 0 4px; content: "•" }

	ul { display: inline-block; margin: 0; padding: 0; list-style: none }
}

.pagecontent_quote_box {
	position: relative; padding: 6px; background-color: $light_grey; border: 1px solid $dark_grey;

	&::before, &::after {
		position: absolute; top: 0; left: 6px; margin-left: 9px; border: 9px solid transparent;
		content: " "
	}

	&::before { margin-top: -18px; border-bottom-color: $dark_grey }
	&::after { margin-top: -17px; border-bottom-color: $light_grey }
}

.pagecontent_user_above_wrote {
	padding: 6px; background-color: $white; border: 1px solid $dark_grey;

	&::before, &::after {
		position: absolute; top: 0; left: 6px; margin-left: 9px; border: 9px solid transparent;
		content: " "
	}

	&::before { margin-top: -18px; border-bottom-color: $dark_grey }
	&::after { margin-top: -17px; border-bottom-color: $white }

	& > :first-child { margin-top: 0 }
	& > :last-child { margin-bottom: 0 }
}

.pagecontent_user_bar {
	clear: left; margin: 14px 0;

	& > div { display: inline-block; min-width: 25%; padding: 6px; background-color: $light_grey; border: 1px solid $dark_grey; border-radius: 3px }
}

.pagecontent_user_quote {
	margin: 14px 0; position: relative;

	h1, h2, h3, h4, h5, h6 {
		margin: 14px inherit;
		font-size: 1em
	}
}

.pageform_button, .pageoptionsbar_button { padding: 6px; background-color: $white; border: 1px solid $dark_grey; border-radius: 3px }

.pageform_button {
	margin: 11px;
	font-size: 1.2em
}

.pageform_element { overflow: auto; overflow-y: hidden; border-bottom: 1px solid $grey; box-shadow: 0 2px 5px -5px rgba(#{$black_rgba}, 0.2) }
.pageform_element .pageform_error { display: inline-block; margin-top: 10px }

.pageform_error { clear: both; padding: 3px; background-color: $light_red; border: 1px solid $red; border-radius: 3px }

.pageform_field {
	display: inline-block; float: right; width: 74%; margin: 0; padding: 11px 0;
	text-align: center;

	& > :first-child { margin-top: 0 }
	& > :last-child { margin-bottom: 0 }

	article {
		border: 1px solid $grey; border-radius: 3px;
		text-align: left
	}
}

.pageform_input_focused { border-color: $blue !important; box-shadow: 0 0 3px 3px $light_blue }

.pageform_label {
	display: inline-block; width: 25%; margin: 0; padding: 11px 0; font-weight: bold;
	vertical-align: top; text-align: right
}

.pageform_radio {
	margin: 0; padding: 0; display: inline-block; list-style-type: none;
	text-align: left
}

.pageform_radio_label { vertical-align: middle }

.pageform_section { margin: 11px 0; border-radius: 3px; box-shadow: 2px 2px 5px 1px $dark_grey }

.pageform_section_title {
	padding: 6px;
	font-size: 1.25em; font-weight: bold
}

.pageform_select {
	margin: 3px; padding: 3px; background-color: $white; border: 1px solid $light_blue; border-radius: 3px;
	font-size: 1em
}

.pageform_textnpassword {
	padding: 6px; border: 1px solid $light_blue; border-bottom-color: $dark_grey; border-radius: 3px;
	font-size: 1em
}

.pagemainmenu {
	margin: 7px -2px 0 -2px; padding: 7px 7px 0 7px; border-top: 1px solid $light_blue;
	font-size: 1.2em; font-weight: bold; color: $light_grey;

	a {
		display: inline-block;

		&:link, &:visited { color: $light_grey; text-decoration: none }
		&:active, &:hover, &:focus { color: $light_steel; text-decoration: underline }
	}

	li {
		display: inline-block;
		vertical-align: middle; white-space: nowrap
	}

	li:not(:last-child)::after { margin: 0 4px; content: "•" }

	ul { margin: 0; padding: 0; list-style: none }
}

.pagenavbox { padding: 5px; border: 1px solid $light_steel }

.pagenavtask { text-align: center; font-weight: bold }

.pagenotification_error { padding: 5px; background-color: $light_red; border: 1px solid $red; border-radius: 3px }
.pagenotification_info { padding: 5px; background-color: $light_green; border: 1px solid $green; border-radius: 3px }

.pageoptionsbar {
	a {
		padding: 4px; background-color: $white; border: 1px solid $dark_grey; border-radius: 3px;
		font-size: 1em;

		&:link, &:active, &:visited, &:hover, &:focus { text-decoration: none }
	}

	li {
		display: inline-block; margin: 0; padding: 0;
		vertical-align: top
	}

	li > a, .pageoptionsbar li > span { display: block; margin: 4px }

	ul {
		z-index: 124; margin: 0; padding: 4px; background-color: $light_grey; border: 1px solid $light_blue; border-radius: 3px;
		list-style: none inside none
	}
}

.pageoptionsbar_button { z-index: 123 }
.pageoptionsbar_button:link, .pageoptionsbar_button:active, .pageoptionsbar_button:visited, .pageoptionsbar_button:hover, .pageoptionsbar_button:focus { text-decoration: none }

.pageoptionsbar_left { display: inline-block; float: left; margin-right: 4px }
.pageoptionsbar_right { display: inline-block; float: right; margin-left: 4px }
.pageoptionsbar_widget li { display: block }

.pageoptionsblock {
	a:first-line { font-weight: bold; text-decoration: underline }

	img {
		margin: 0 14px 14px 0;
		float: left
	}

	li {
		display: inline-block; width: 25%; margin: 0; padding: 0;
		vertical-align: top
	}

	li > a, li > span {
		display: block; margin: 4px; padding: 6px; border: 1px solid $grey; border-radius: 7px;
		overflow: auto; overflow-y: hidden; text-decoration: none
	}

	ul { position: relative; margin: 0; padding: 0; list-style: none inside none }
}

.pageservicemenu {
	clear: both; margin: 10px 0; border: 1px solid $light_blue; border-radius: 3px;

	a {
		&:link, &:visited { color: $blue; text-decoration: none }
		&:active, &:hover, &:focus { color: $black; text-decoration: none }
	}

	img {
		margin: 0 3px 3px 0;
		vertical-align: middle
	}

	li {
		display: inline;
		vertical-align: top
	}

	li:not(:last-child)::after { margin-right: 4px; content: ", " }

	ul { position: relative; margin: 0; padding: 0; list-style: none inside none }
}

.pageservicemenu_p {
	padding: 3px 3px 0 3px;
	text-align: left
}

.pageservicemenu_s {
	clear: both; padding: 3px;
	text-align: right; font-size: 0.8em
}

.pagetable {
	clear: both; border-radius: 3px;

	tbody {
		& > :first-child { border-top-width: 6px }
		& > :last-child { border-bottom-width: 6px }
	}

	td, th { padding: 6px; text-align: left; vertical-align: top }
	td > :first-child, th > :first-child { margin-top: 0 }
	td > :last-child, th > :last-child { margin-bottom: 0 }

	td > h1, td > h2, td > h3, td > h4, td > h5, td > h6 {
		margin: 14px inherit;
		font-size: 1.1em
	}

	th {
		background-image: -moz-linear-gradient(rgba(#{$white_rgba}, 0) 0%, $light_steel 100%);
		background-image: -ms-linear-gradient(rgba(#{$white_rgba}, 0) 0%, $light_steel 100%);
		background-image: -o-linear-gradient(rgba(#{$white_rgba}, 0) 0%, $light_steel 100%);
		background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0, rgba(#{$white_rgba}, 0)), color-stop(1, $light_steel));
		background-image: -webkit-linear-gradient(rgba(#{$white_rgba}, 0) 0%, $light_steel 100%);
		background-image: linear-gradient(rgba(#{$white_rgba}, 0) 0%, $light_steel 100%);
		font-weight: bold; font-size: 1.1em
	}

	thead, tr, tfoot { border: 1px solid $dark_grey }
}

.pageurl_requirements_unsupported { color: $dark_grey }

@media only screen and (max-width: 352px) {
	.pagecontent_box_infoblock {
		display: block; clear: both; float: initial; margin: 3px 0; padding: 3px; border: 1px solid $dark_grey; border-radius: 3px;
		background-image: -moz-linear-gradient(rgba(#{$white_rgba}, 0) 0%, $light_steel 100%);
		background-image: -ms-linear-gradient(rgba(#{$white_rgba}, 0) 0%, $light_steel 100%);
		background-image: -o-linear-gradient(rgba(#{$white_rgba}, 0) 0%, $light_steel 100%);
		background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0, rgba(#{$white_rgba}, 0)), color-stop(1, $light_steel));
		background-image: -webkit-linear-gradient(rgba(#{$white_rgba}, 0) 0%, $light_steel 100%);
		background-image: linear-gradient(rgba(#{$white_rgba}, 0) 0%, $light_steel 100%);
		text-align: center;

		div { background-color: $white; background-image: none }
	}

	.pageform_element { padding: 3px 0 }

	.pagemainmenu {
		margin: 0 -1px; padding: 1px 3px;
		text-align: center
	}

	.pageservicemenu img { margin-bottom: 0 }

	.pageservicemenu_p {
		padding: 0;
		text-align: center
	}

	.pageservicemenu_s {
		padding: 0;
		text-align: center
	}
}

@media only screen and (min-width: 352px) and (max-width: 672px) {
	.pageform_element { padding: 6px 0 }
	.pageservicemenu_p { padding: 1px 1px 0 1px }
	.pageservicemenu_s { padding: 1px }
}

@media only screen and (max-width: 672px) {
	.pagecontent_box_left, .pagecontent_box_right {
		float: inherit;
		text-align: center
	}

	.pagecontent_box_right.pagecontent_box_left_padded, .pagecontent_box_left.pagecontent_box_right_padded { margin-left: inherit, margin-right: inherit }

	.pageform_field {
		display: block; float: initial; width: inherit;
		text-align: left
	}

	.pageform_label {
		display: block; width: inherit;
		text-align: left
	}

	.pageform_textnpassword {
		width: 100% !important;
		-moz-box-sizing: border-box; -ms-box-sizing: border-box; -o-box-sizing: border-box; -webkit-box-sizing: border-box; box-sizing: border-box
	}

	.pageoptionsblock li { width: 100%; margin: 0; padding: 0 }

	.pagetable_responsive {
		margin: 6px 0;

		tbody > tr {
			border-top: 1px solid $dark_grey; border-bottom: 1px solid $dark_grey;

			& > td {
				display: block; width: inherit;
				-webkit-column-span: all;
				column-span: all;
				text-align: left !important;

				&::before {
					display: block; margin: 0 -4px 3px -4px; padding: 0 4px 1px 4px; border-bottom: 1px solid $light_blue;
					background-image: -moz-linear-gradient(rgba(#{$white_rgba}, 0) 0%, $light_grey 100%);
					background-image: -ms-linear-gradient(rgba(#{$white_rgba}, 0) 0%, $light_grey 100%);
					background-image: -o-linear-gradient(rgba(#{$white_rgba}, 0) 0%, $light_grey 100%);
					background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0, rgba(#{$white_rgba}, 0)), color-stop(1, $light_grey));
					background-image: -webkit-linear-gradient(rgba(#{$white_rgba}, 0) 0%, $light_grey 100%);
					background-image: linear-gradient(rgba(#{$white_rgba}, 0) 0%, $light_grey 100%);
					font-weight: bold; font-size: 1.1em; content: attr(data-th) ": "
				}
			}
		}

		.pagetable_header_row { display: none }
	}
}

@media only screen and (min-width: 352px) and (max-width: 1632px) {
	.pageoptionsblock li { width: 50% }
}