-e git+http://git.direct-netware.de/py/rfc_http_client/#egg=dng-rfc-http-client
-e git+http://git.direct-netware.de/py/xml/#egg=dng-xml
-e git+http://git.direct-netware.de/pas/plugins/#egg=pas-plugins
-e git+http://git.direct-netware.de/pas/server/#egg=pas-server
-e git+http://git.direct-netware.de/pas/streamer/#egg=pas-streamer
